@import 'variables';
@import 'hero';
@import './components/infos-bar';
@import './components/button';
@import 'event';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: #fff;
    list-style: none;
}

body {
    background-color: $gradient2;
}
footer p, footer a{
    color: $textColor;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: $purple;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}
